<!DOCTYPE html>
<html>
<head>
   <link type="text/css" href="/stylesheets/main.css" rel="stylesheet">
  <title>Calculated Cost</title>
</head>

<body>
  <div id="result">
    Calculated Shipping Cost:</br>
    $<%=result %>

  </div>
</body>
</html>
