<!DOCTYPE html>
<html>
<head>
   <link type="text/css" href="/stylesheets/main.css" rel="stylesheet">
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Calculated Cost</title>
</head>

<body>
  <div id="result">
    Calculated Shipping Cost:</br>
    $<%=result %>

  </div>
</body>
</html>
